html {
    padding: 1%;
}

body {
    background-color: #ffffff;
    font-size: 13px;
    font-family: "Domine", serif;
    margin: 0.5rem;
}

body ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

body ul>li {
    padding: 1rem;
}

body a {
    text-decoration: none;
    color: #000000;
}

header {
    background-color: #f0f0f0;
    height: 35vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

nav.upper-nav {
    height: 20%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

ul.account-btn>li>a {
    background-color: #5f99c0;
    padding: 0.5rem;
    color: #ffffff;
    font-weight: bold;
}

section.logo-container {
    display: grid;
    height: 30%;
    width: 100%;
    /* grid-template-columns: 1fr 4fr; */
    grid-template-areas: 
        "date logo logo logo logo"
        "paper logo logo logo logo";
    gap: 0.2rem;
}

p#date {
    grid-area: date;
}

p#paper {
    grid-area: paper;
}

p#logo {
    grid-area: logo;
}

#logo-svg {
    fill: #000000;
}

nav.lower-nav {
    text-transform: capitalize;
}

nav.lower-nav li>a:hover {
    text-decoration: underline;
}

.main-grid-container {
    display: grid;
    grid-template-areas: 
        "article-1 article-1 img-1 img-1 img-1 img-1 side-txt-1"
        "article-1 article-1 img-1 img-1 img-1 img-1 side-txt-1"
        "article-2 article-2 img-1 img-1 img-1 img-1 side-txt2"
        "article-2 article-2 img-1 img-1 img-1 img-1 side-txt-2"   
    ;
}

.main-grid-container h1, h2, h3 {
    text-transform: capitalize;
}

.main-grid-container span {
    text-transform: uppercase;
    font-family: sans-serif;
    color: #5e5d5d;
}

.main-grid-container p {
    line-height: 1.7rem;
}

.news-article-1 {
    grid-area: article-1;
    font-size: 1.1rem;
}

.news-article-2 {
    grid-area: article-2;
}

.main-news-fig {
    grid-area: img-1;
}

.main-news-image {
    height: 80%;
    object-fit: cover;
}

.side-col-1 {
    grid-area: side-txt-1;
}

.side-col-2 {
    grid-area: side-txt-2;
}